JAASClient {
	com.ibm.security.auth.module.Krb5LoginModule required
		useDefaultCcache=true;
};

JAASServer {
	com.ibm.security.auth.module.Krb5LoginModule required
		credsType=acceptor useDefaultKeytab=true
		principal=gss_service/myhost.ibm.com@REALM.IBM.COM;
};

FLoginContext {
   com.sun.security.auth.module.NTLLoginModule REQUISITE debug=true;
};